.loader-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn .2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.loader-box {
    background: #fff;
    padding: 25px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}
