<div id="globalLoader" class="loader-overlay d-none">
    <div class="loader-box text-center">
        <div class="spinner-border text-primary" role="status"></div>
        <div class="mt-3 fw-semibold">Please wait...</div>
    </div>
</div>