name: BankingManagementSystem .NET 8 CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore BankingManagementSystem.sln

    - name: Build solution
      run: dotnet build BankingManagementSystem.sln --configuration Release --no-restore
